.hover-effect:hover h3,
.hover-effect:hover img {
    transform: scale(1.1); 
    cursor: pointer;
  }
  
  .modal-content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  